.Toggle {
  position: absolute;
  top: 80vh;
  left: 45%;
  width: 10%;
  border: 0;
  font-size: 1rem;
  color: black;
  background-color: #ef6262;
  border-radius: 5px;
}

.let > p {
  text-align: center;
  border-radius: 5px;
  width: 100px;
  height: 25px;
  position: absolute;
  bottom: 10%;
  left: 47%;
}

/* .Toggle:hover {
  background-color: #ca1b1b;
  animation: grow forwards;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
} */

@media (max-width: 800px) {
  .Toggle {
    position: initial;
    width: 20%;
    margin: 40%;
  }
}
