.Toggle {
  position: absolute;
  top: 80vh;
  left: 45%;
  width: 10%;
  border: 0;
  font-size: 1rem;
  color: black;
  background-color: #ef6262;
  border-radius: 5px;
}

@media (max-width: 800px) {
  .Toggle {
    position: initial;
    width: 20%;
    margin: 40%;
  }
}
