.Picture > img {
  height: 200px;
  width: 200px;
  animation-name: rotation;
  animation-duration: 15s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  border-radius: 50%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
